<% if flash[:error] %>
  <div id="errorExplanation">
  <h2><%= pluralize(flash[:error].count, "error") %>
    prohibited this answer from being saved:</h2>
    <ul>
      <% flash[:error].full_messages.each do |msg| %>
        <li><%= msg %></li><br />
      <% end %>
    </ul>
  </div>
<% end %>

<% if object.errors.any? %>
  <% object.errors.full_messages.each do |error| %>
    <%= error %>
  <% end %>
<% end %>
