
<li><%= answer.body %> 
  | <strong>Karma: </strong>
  <% if current_user %>
    <% if current_user.id != answer.user_id %>
      <div class='vote_form_container'>
        <%= render partial: "votes/form", locals: {answer: answer} %>
      </div>
    <% else %>
      <%= link_to "Edit Your Answer", edit_question_answer_path(answer) %>
    <%end %>
  <%end %>
</li>
